body {
    background-color: #15a5be;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
   }
 footer {
    grid-area: footer;
    display: grid;
    grid-auto-flow: column;
    align-content: space-between;
   }