.flex-container {
    display: flex;
    flex-direction: row;
}

.flex-container img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin:10px;
    padding:20px;
    font-size: 30px;
    transition: .5s ease;
}

.flex-container img:hover {
    filter: brightness(80%);
    transition: .3s ease-out;
}

.title1 {
    color: #22205b;
}

.title2 {
    color: #22205b;
}