.coluna{
    margin-right: 3%;
    text-align: justify;
    text-justify: inter-word;
    background-color: #ffffff;
    padding:10px;
    left: 33%;
 }

 .nome{
    float: right;
    text-align: right;
}

.recuo { 
    text-indent:4em;
    color: black;
}
.letras{
    font-size: 14px;
    color: #22205b;
}
