.titulo{
    margin:auto;
    align-items: center;
    padding: 10px;
    margin-top: 1rem;
    text-align: center;
    text-justify: inter-word;
}

h1 {
    color: #22205b;
}

.texto_titulo {
    color: #22205b;
}

.container{
    width: auto;
}

.texto_longo{
    text-align: justify;
    text-justify: inter-word;
    padding:10px;
}

.texto { 
    color: #22205b;
}

h3 {
    color: #22205b;
}

.flex-container {
    display: flex;
    flex-direction: row;
}

.flex-container img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin:10px;
    padding:20px;
    font-size: 30px;
    transition: .5s ease;
}

.coluna_imagens {
    margin-left: 5%;
    align-items: center;
    padding: 10px;
    margin-top: 1rem;
    transition: .5s ease;
    backface-visibility: hidden;
    opacity: 1;
}

.coluna_imagens .image:hover {
    opacity: 0.3;
    transition: .3s ease-out;
}

.coluna_texto{
    text-align: justify;
    text-justify: inter-word;
    padding:10px;
    left: -10%;
}