.titulo{
    margin:auto;
    align-items: center;
    padding: 10px;
    margin-top: 1rem;
    text-align: center;
    text-justify: inter-word;
}

h1 {
    color: #22205b;
}

.texto_titulo {
    color: #22205b;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap; 
    flex-wrap: wrap;
    padding: 4px;
    margin: auto;
    justify-content: center;
}

.column {
    -ms-flex: 25%;
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    transition: .5s ease
}

.column img:hover{
    filter: brightness(80%);
    transition: .3s ease-out;
}

@media (max-width: 800px) {
    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}

@media (max-width: 600px) {
    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}

