header{
    display: flex;
    background-color: #333;
    justify-content: center;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + body {
  padding-top: 102px;
}

.navbar{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    margin: 15px 0 0 0;
    height: 8%;
    width: 40%;
}

.navbar a{
    display: flex;
    text-decoration: none;
    line-height: 130%;
    color: rgb(196, 194, 194);
    font-weight: 400;
}

.navbar :hover{
    color: whitesmoke;
}

.navbar-fast-acess{
    color: rgb(196, 194, 194);
    align-self:flex-end;
    position: relative;
    display: inline-block;
    flex-wrap: wrap;
    text-align: center;
    width: 250px;
}

.navbar-fast-acess a{
    text-decoration: none;
    color: rgb(196, 194, 194);
}
.navbar-fast-acess:hover{
    display: block;
}
.navbar-fast-acess:hover .dropdown-content {
    display: block;
}

.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial;
  }

  /* Dropdown Button */
.links-drpbtn {
    background-color: #333;
    color: rgb(196, 194, 194);
    border: none;
    cursor: pointer;
    margin-bottom: 2px;
    outline: none;
}
.links-drpbtn:hover, .links-drpbtn:focus{
    color:whitesmoke;
}
/* The container <div> - needed to position the dropdown content */
.links-dropdown {
    position: static;
    display: inline-block;
}
/* Dropdown Content (Hidden by Default) */
.links-drpdwncontent {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}


/* Links inside the dropdown */
.links-drpdwncontent a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.links-drpdwncontent a:hover {
    color: black;
    border-bottom: 2px solid #13a7e2;   

}

/* Show the dropdown menu on hover */
.links-dropdown:hover .links-drpdwncontent {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.links-dropdown:hover, {
    border-bottom: 2px solid #13a7e2;   
}
