.prim_painel{
    background-color: lightgreen;
}
.border{
    border-width: thick;
}
.seg_painel{
    background-color: burlywood;
}
.terceiro_painel{
    background-color: darkgoldenrod;
}
body{
    background-color: lightgray;
}
.textsp{
    color: white;
}