
body{
    background-color:#f2f2f2;
}

.flexbox{
    display: flex;
    justify-content: center;
}

.first-panel{
    background-color: white;
    display: flex;
    
}

    .container{
        width: 999px;
    }
}

ul{
    padding:0;
    margin: 0;
    list-style: none;

}

il{
    float: left;
}