
header{
    top: 0;
    background-color: aqua;
}

.background{
    background-image: url("https://cdn.discordapp.com/attachments/347087160245223424/403341628296790016/unknown.png");
    width: 100%;
}

header div img{
    width:auto;
    height: 10vh;
}

/*navbar*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}