
header{
    top: 0;
    background-color: aqua;
}

.background{
    background-image: url("https://cdn.discordapp.com/attachments/347087160245223424/403341628296790016/unknown.png");
    width: 100%;
}

header div img{
    width:auto;
    height: 10vh;
}
.painel{
    border: solid 1px lightgray;
    padding: 1rem;
    margin: 1rem; 
}
.slide{
    background-image: url("https://cdn.discordapp.com/attachments/347087160245223424/403341628296790016/unknown.png");
}