header {
    width: auto;
    height: auto;
}
.navbar {
    
    background-color: black;
    opacity: 0.7;
    height: auto;
}

.navbar a {
    margin-right: 20px;
    text-decoration: none;
    color: white;
}

.navbar .imagemlogo{
    width: 200px;
    height: 75px;
}

.navbar .imagemlupa{
    width: 20px;
    height: 20px;
}

.container{
    width: auto;
    height: 300px;
}

.worklogo {
    width: auto;
    height: 300px;
}

.row{
    height: auto;
    margin-bottom: 5px;
}

.col-sm-3{
    width: 878px;
    height: 588px;
}

.imagemLogo{
    width: 1408px;
    height: 408px;
}

#footerl{
    background-color: black;
    opacity: 0.7
}

.footerhip li a{
    text-decoration: none;
    color: white;
    font-size: 12px;
}

.col-sm-4 h5 {
    color: white;
}

.col-sm-4 p {
    font-size: 10px;
    color: #F0F0F0;
}

.col-sm-4 p a {
    font-size: 10px;
    color: #F0F0F0;
    text-decoration: none;
}

.LastItem {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-left: auto;
    color: gray;
    text-decoration: none;
    font-size: 12px;
}

.fli {
    font-weight: bold;
    margin-bottom: 5px;
}

.sli {
    font-size: 12px;
}

.aliof {
    text-decoration: none;
    color: steelblue;
}

.flexwrappernav{
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin-top: 20px;
    
   }

   nav {
    background-color: black;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
    height: 110px;
    opacity: 0.7;
   }

   .ListItem {
    align-items: center;
    margin-right: 1rem;
    color: white;
    text-decoration: none;
   }
   .LastItem {
    margin-left: auto;
    color: white;
    text-decoration: none;
    float: right;
   }  

   .flexItems{
       font-size: 12px;
   }

   .imagemlogo {
    width: 200px;
    height: 75px;
   }

.imagemfundo{
    width: 1170px;
}

.searchf {
    padding-top: 20px;
}

#imagemback {
    height: 300px;
    margin-bottom: 50px;
}

#desenvolve {
    margin-top: 2.5px;
    border: 2px solid #F0F0F0;
}

#desenvolveindex {
    margin-top: 2.5px;
    border: 2px solid #F0F0F0;

}

#desenvolvecalend{
    margin-top: 2.5px;
    border: 2px solid #F0F0F0;
}

#rightcol {
    height: 1254px;
}

.title{
    text-align: center;
}

.calendar-container{
    margin: 15px;
    margin-top: 30px;
    width: 200px;
    height: 200px;
}

.iconlogo{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.imgsocial {
    margin-top: 40px;
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

.firstdown {
    margin-top: 40px;
}

.Seconddown{
    margin-left: 40px;
    margin-top: 40px;
}

.thrdown {
    margin-left: 40px;
    margin-top: 40px;
}

.fourdown {
    margin-top: 40px;
}

.fivedown {
    margin-left: 40px;
    margin-top: 40px;
}
.downpdf {
    display: flex;
    flex-direction: row;
}
