.navbar {
    padding: 5px;
    background-color: black;
    opacity: 0.7;
    height: auto;
}

.navbar a {
    margin-right: 20px;
    text-decoration: none;
    color: white;
}

.navbar .imagemlogo{
    width: 300px;
    height: 100px;
}

.navbar .imagemlupa{
    width: 20px;
    height: 20px;
}

.dropbtn {
    background-color: black;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    overflow: auto;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1000;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 12px;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.droppar {
    font-weight: bold;
}

.worklogo {
    width: auto;
    height: 300px;
}

.row{
    padding-bottom: 20px;
}

.col-sm-3{
    width: 878px;
    height: 418px;
}

.imagemLogo{
    width: 1408px;
    height: 408px;
}

#footerl{
    background-color: black;
    opacity: 0.7
}

.footerhip li a{
    text-decoration: none;
    color: white;
}