* {
    margin:0;
    padding:0;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif; 
    font-size: 14px;
}
body{
    overflow: visible;

}
header{
    display: flex;
    background-color: #333;
    justify-content: center;
}

.navbar{
    display: flex;
    flex-direction:row;
    padding: 10px;
    margin: 15px 0 0 0;
    height: 10%;
}

.navbar a{
    text-decoration: none;
    margin-left: 40px;
    line-height: 130%;
    color: rgb(196, 194, 194);
    font-weight: 400;
}

.navbar :hover{
    text-decoration: underline;
    color: whitesmoke;
}

.navbar-fast-acess{
    color: whitesmoke;
    align-self:flex-end;
    position: relative;
    display: inline-block;
    flex-wrap: wrap;

}

.navbar-fast-acess a{
    text-decoration: none;
    color: rgb(196, 194, 194);
}
<<<<<<< HEAD

=======
.fast-acess-style{
    font-weight: bold;    
    color:black;
    font-size: 16px;
    margin:25px 0 10px 0;
}
.risk-under-fast-acess{
    border-bottom: 5px solid #13a7e2;
    /*#0c83b2  azul do logo*/
    
}
>>>>>>> 9f5c0ff5047d6e9fd671ec1fe32ef53d4c82626d
.dropbtn {
    background-color: #333;
    color: white;
    padding: 16px;
    border: none;
    cursor: pointer;
    outline: none;
<<<<<<< HEAD
=======
    font-weight: bold;
>>>>>>> 9f5c0ff5047d6e9fd671ec1fe32ef53d4c82626d
}

.dropbtn:hover, .dropbtn:focus {
    text-decoration: underline;   
}

.dropdown-content {
    display: none;
    position: absolute;
    right:125px;
    background-color: #f9f9f9;
    min-width: 1000px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
<<<<<<< HEAD
    

=======
    height: 850px;
    text-align: center;
>>>>>>> 9f5c0ff5047d6e9fd671ec1fe32ef53d4c82626d
}

.dropdown-content a {
    color: black;
<<<<<<< HEAD
    padding: 12px 16px;
    display: block;
=======
    /*padding: 15px 16px 15px;*/
    margin: 5px 20px 10px 20px;
    line-height: 25px;
>>>>>>> 9f5c0ff5047d6e9fd671ec1fe32ef53d4c82626d
    
}
.dropdown-content a:hover{
    text-decoration: underline;

}
.dropdown a:hover {
    background-color: #f1f1f1;

}
<<<<<<< HEAD
.show {display:block;}
=======
.show {display:block;}


.fancy {
    margin-bottom:15px;
    line-height: 0.5;
    text-align: center;
}
.fancy span {
    display: inline-block;
    position: relative;  
}
.fancy span:before,
.fancy span:after {
    content: "";
    position: absolute;
    height: 5px;
    border-bottom: 1.5px solid rgb(0, 0, 0);
    bottom:2px;
    width: 450px;
}
.fancy span:before {
    right: 100%;
    margin-right: 15px;
}
.fancy span:after {
    left: 100%;
    margin-left: 15px;
}

.main_container{
    display: flex;
    flex-flow: column;
    margin-top: 1%;
    align-items: center;
}
.conteudo{
    width:70vw;
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    box-shadow: 0 0 40px 0 rgba(0,0,0,0.5);   
}

.texto_conteudo, .titulo{
    padding: 15px;  
}

.titulo{
    font-size: 18px;
    font-weight: bold;
    margin-left: 1%;
    margin-top:1%;
}
.texto_conteudo{
    width:92%;
    font-size: 15px;
    line-height: 25px;
    margin-left:2%;
    text-align: justify;
}

.contatos{
    margin-left:5%;
}

#titulos{
    font-weight: bold;
}
footer{
    display: flex;
    justify-content: center;
    background-color: #333;
    color:white;
    margin-top: 3%;
    height: 100%;
    padding:15px;

}
.footer-texto{

    text-align: center;
}
>>>>>>> 9f5c0ff5047d6e9fd671ec1fe32ef53d4c82626d
