* {
    margin:0;
    padding:0;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif; 
    font-size: 14px;

}

header{
    display: flex;
    background-color: #333;
    justify-content: center;
}

.navbar{
    display: flex;
    flex-direction:row;
    padding: 10px;
    margin: 15px 0 0 0;
    height: 10%;
}

.navbar a{
    text-decoration: none;
    margin-left: 40px;
    line-height: 130%;
    color: rgb(196, 194, 194);
    font-weight: 400;
}

.navbar :hover{
    text-decoration: underline;
    color: whitesmoke;
}

.navbar-rapid-acess{
    color: whitesmoke;
    align-self:flex-end;
    position: relative;
    display: inline-block;
    flex-wrap: wrap;

}

.navbar-rapid-acess a{
    text-decoration: none;
    color: rgb(196, 194, 194);
}

.dropbtn {
    background-color: #333;
    color: white;
    padding: 16px;
    border: none;
    cursor: pointer;
    outline: none;
}

.dropbtn:hover, .dropbtn:focus {
    text-decoration: underline;   
}

.dropdown-content {
    display: none;
    position: absolute;
    right:125px;
    background-color: #f9f9f9;
    min-width: 1000px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    

}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    display: block;
    
}
.dropdown-content :hover{
    text-decoration: underline;

}
.dropdown a:hover {
    background-color: #f1f1f1;

}
.show {display:block;}