.titulo{
    font-size: +23px;
}
.banner{
    border-image-width: 20%;
}
body{
    background-color: darkgray;
    text-decoration-color: white;
}
.mitibanner{
    display: flex;
    justify-content: center;
}
.first_panel{
    background-color: rgb(9, 50, 83);
    display: flex;
    padding: 5%;
    color: white;
}
a{
    text-decoration: none;
    color: white;
}
.cont{
    flex-direction: column;
    margin: 1%;
    column-gap: 400px;
}
.second_panel{
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    color: rgb(9, 50, 83);
    text-align: center;
    padding: 2%;
}
.second_panel .alink{
    text-decoration: underline;
}
.second_panel .conteudo{
    display: flex;
    flex-direction: row;
}
.outrolink{
    margin: 15px;
    display: inline-block;
    width: 15%;
    background-color: rgb(9, 50, 83);
}
.third_panel{
    background-color: rgb(239, 230,211);
    text-align: center;
    color: rgb(9, 50, 83);
}
.terceiro_painel_texto{
    display: flex;
    justify-content: flex-start;
}
.carousel{
    display: inline-flex;
}
div .img{
    width: 30em;
}
p {
    text-align: justify;
}
.forth_panel{
    background-color: rgb(245, 216, 197);
    color: rgb(9, 50, 83);
}
.linksp{
    color: black;
}
.fifth_panel{
 background-color: rgb(230, 090, 103);
 color: rgb(9, 50, 83);
}
.last_image{
    width: 60%;
}