
.container > * {
    padding: 10px;
    flex: 1 100%;
}

.container {
    display: flex;
    flex-flow: row wrap;
    font-weight: bold;
}

.header {
    order: -1;
    flex-wrap: nowrap;
    flex-direction: row;
}

.navegacao {
    list-style: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    order: 1;
    font-family: "Courier New", Courier, monospace;
}

.imagem {
    justify-content: flex-start;
    order: 0;
    display: flex;
    font-family: "Courier New", Courier, monospace;
    font-size: 20px;
}

.main {
    display: flex;
    flex-flow: row wrap;
}

.main_info {
    font-family: "Courier New", Courier, monospace;
    font-size: 14px;
    width: 85%;
}

.caixinha_texto {
    margin: 2px;
    border: 1px solid black;
    width: 100%;
}

.rodape {
    margin: 1px;
    display:flex;
    border: 1px solid white;
    order:5;
    background-color: grey;
    align-content: center;
}

.rodape_texto {
    font-family: "Courier New", Courier, monospace;
    font-size: 12px;
    color: white;
    border-left-style: dashed;
    margin-right: 20%;
    justify-content: center;
}

.main_menu {
    font-family: "Courier New", Courier, monospace;
    font-size: 14px;
    display: flex;
    width: 15%;
}

.caixinha_menu {
    margin: 2px;
    border: 1px solid black;
    text-align: center;
    width: 100%;
}

ul a:link {
    color: black;  
    text-decoration: none;
}

ul a:visited {
    color: black;
    text-decoration: none;
}

ul a:hover {
    color: cadetblue;
    text-decoration: underline;
}

a {
    text-decoration: none;
}

a:link {
    color: blue;
    text-decoration: underline;
}

a:visited {
    color: blue;
    text-decoration: underline;
}

a:hover {
    color:cadetblue;
    text-decoration: underline;
}