
.container > * {
    padding: 10px;
    flex: 1 100%;
}

.container {
    display: flex;
    flex-flow: row wrap;
    font-weight: bold;
}

body {
    background-color: black;
}

.header {
    order: -1;
    flex-wrap: nowrap;
    flex-direction: row;
    box-shadow: 10px 10px 5px grey;
    border-style: solid;
    border-color: black;
    background-color: white;
}

.navegacao {
    list-style: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    order: 1;
    font-family: "Courier New", Courier, monospace;
    overflow: hidden;
    background-color: #333;
}

.navegacao a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: "Courier New", Courier, monospace;
}

.navegacao a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-family: "Courier New", Courier, monospace;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.imagem {
    justify-content: flex-start;
    order: 0;
    display: flex;
    font-family: "Courier New", Courier, monospace;
    font-size: 30px;
    text-decoration-line: underline;
    text-decoration-color: rgb(0, 174, 255)
}

.main {
<<<<<<< HEAD
    flex-flow: row wrap;
    display:flex;
=======
    display: flex;
    flex-flow: row wrap;
    background-color: white;
>>>>>>> ef868e9c1750992b943c7957e170bdf925d3beb2
}

.main_info {
    font-family: "Courier New", Courier, monospace;
    font-size: 14px;
<<<<<<< HEAD
    display: flex;
    width: 85%;
    flex-flow: column;
=======
    width: 84.6%;
>>>>>>> ef868e9c1750992b943c7957e170bdf925d3beb2
}

.caixinha_texto {
    margin: 2px;
<<<<<<< HEAD
    border: 1px solid black;
    width: 100%;
=======
    width: 100%;
    border-top-style: dotted;
>>>>>>> ef868e9c1750992b943c7957e170bdf925d3beb2
}

.rodape {
    margin: 1px;
    display:flex;
    border: 1px solid white;
    order:5;
    background-color: grey;
<<<<<<< HEAD
    justify-content: center;
=======
    border-style: solid;
    border-color: black;
    justify-content: space-between;
>>>>>>> ef868e9c1750992b943c7957e170bdf925d3beb2
}

.rodape_texto {
    font-family: "Courier New", Courier, monospace;
    font-size: 12px;
    color: white;
    border-left-style: dashed;
    margin-right: 20%;
<<<<<<< HEAD
    text-align: center;
=======
>>>>>>> ef868e9c1750992b943c7957e170bdf925d3beb2
}

.main_menu {
    font-family: "Courier New", Courier, monospace;
    font-size: 12px;
    display: flex;
    width: 15%;
<<<<<<< HEAD
    justify-content: flex-end;
    text-align: center;
=======
    box-shadow: 10px 10px 5px grey;
    border-style: solid;
    border-color: black;
    justify-content: flex-end;
>>>>>>> ef868e9c1750992b943c7957e170bdf925d3beb2
}

.caixinha_menu {
    margin: 2px;
<<<<<<< HEAD
    border: 1px solid black;
    width: 100%;
=======
    text-align: center;
    width: 100%;
}

ul {
    list-style-type: none;
    width: 200px;
    background-color: white;
    justify-content: center;
}

ul li a{
    display: block;
    color: #000;
    padding:8px 16px;
    text-decoration: none;
}
ul li a:link {
    color: black;  
    text-decoration: none;
}

ul li a:visited {
    color: black;
    text-decoration: none;
}

ul li a:hover {
    background-color: #333;
    color: white;
}

a {
    text-decoration: none;
}

a:link {
    color: blue;
    text-decoration: underline;
}

a:visited {
    color: blue;
    text-decoration: underline;
}

a:hover {
    color:cadetblue;
    text-decoration: underline;
}

.caixinha_texto k {
    font-family:"Courier New", Courier, monospace;
    font-size: 11px;
>>>>>>> ef868e9c1750992b943c7957e170bdf925d3beb2
}