
.container > * {
    padding: 10px;
    flex: 1 100%;
}

.container {
    display: flex;
    flex-flow: row wrap;
    font-weight: bold;
}

.header {
    order: -1;
    flex-wrap: nowrap;
    flex-direction: row;
}

.navegacao {
    list-style: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    order: 1;
    font-family: "Courier New", Courier, monospace;
}

.imagem {
    justify-content: flex-start;
    order: 0;
    display: flex;
    font-family: "Courier New", Courier, monospace;
    font-size: 20px;
}

.main {
    flex-flow: row wrap;
    display:flex;
}

.main_info {
    font-family: "Courier New", Courier, monospace;
    font-size: 14px;
    display: flex;
    width: 85%;
    flex-flow: column;
}

.caixinha_texto {
    margin: 2px;
    border: 1px solid black;
    width: 100%;
}

.rodape {
    margin: 1px;
    display:flex;
    border: 1px solid white;
    order:5;
    background-color: grey;
    justify-content: center;
}

.rodape_texto {
    font-family: "Courier New", Courier, monospace;
    font-size: 12px;
    color: white;
    border-left-style: dashed;
    margin-right: 20%;
    text-align: center;
}

.main_menu {
    font-family: "Courier New", Courier, monospace;
    font-size: 12px;
    display: flex;
    width: 15%;
    justify-content: flex-end;
    text-align: center;
}

.caixinha_menu {
    margin: 2px;
    border: 1px solid black;
    width: 100%;
}