.black {
  background-color: lightslategray;
  background-blend-mode: darken;
}
.grey{
  background-color: dimgrey;
}

.white{
  /*background-color: white;*/
  border-style: solid;
  border-color: black;
}
