* {
    box-sizing: border-box; 
  }
body {
    display: flex;
    min-height: 100vh;
    flex-direction: row;
    margin: 0;
}
.outer-col-1 {
    flex: 1;
}
.outer-col-1 ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.outer-col-1 ul li {
    list-style-type: none;
    padding: 15px;
}
.outer-col-1 ul li a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.outer-col-2 {
    display: flex;
    flex-direction: column;
    flex: 5;
}
.outer-col-2 img {
    display: flex;
    justify-content: flex-start;
    position: absolute;
}
.inner-row {
    display: flex;
    flex-direction: row;
}
.inner-col {
    flex: 4;
  }
.inner-row article {
    min-height: 60vh;
}
.inner-row aside {
    background: beige;
    display: flex;
    flex-direction: column;
    width: 20vh;
    flex: 1;
}
.inner-row aside .vertical-menu {
    display: flex;
    flex-direction: column;
}
header, footer {
    background: cornflowerblue;
    height: 20vh;
}
header, footer, article, nav, aside {
    padding: 1em;
}
.dropdown .dropbtn {
    color: #ffffff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
li.dropdown {
    display: flex;    
}
.dropdown-menu {
    display: none;
    position: absolute;
    background-color: cornflowerblue;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-menu a {
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    text-decoration: none;
    color: #ffffff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 2px;
}
.dropdown-menu a:hover {
    font-weight: bold;
}

.dropdown:hover .dropdown-menu {
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 20px;
    width: 20%;
}
.uualogo {
    display: flex;
    flex-direction: row;
    position: relative;
    margin: -98px auto 0 500px;
}


.vertical-menu {
    width: 220px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    
}

.vertical-menu a {
    background-color: #eee;
    color: black;
    display: flex;
    flex-direction: column;
    padding: 12px;
    text-decoration: none;
    
}

.vertical-menu a:hover {
    background-color: #ccc;
}

.vertical-menu a.active {
    
    font-weight: bold;
    text-transform: uppercase;
    background-color: cornflowerblue;
    color: #ffffff;
    border-radius: 3px;

}
