.titulo{
    font-size: +23px;
}
.banner{
    border-image-width: 20%;
}
body{
    background-color: darkgray;
    text-decoration-color: white;
}
.mitibanner{
    display: flex;
    justify-content: center;
}
.first_panel{
    background-color: rgb(9, 50, 83);
    display: flex;
    padding: 4%;
    color: white;
}
a{
    text-decoration: none;
    color: #fff;
}
.cont{
    margin: 1%;
}
.second_panel{
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    color: rgb(9, 50, 83);
    text-align: center;
    padding: 2%;
}
.second_panel .alink{
    text-decoration: underline;
}
.second_panel .conteudo{
    display: flex;
    flex-direction: row;
}
.outrolink{
    margin: 15px;
    display: inline-block;
    width: 15%;
    background-color: rgb(9, 50, 83);
}
.third_panel{
    background-color: wheat;
    text-align: center;
}
.terceiro_painel_texto{
    display: flex;
    justify-content: flex-start;
}