titulo{
    font-size: +23px;
}
banner{
    border-image-width: 20%;
}
body{
    background-color: darkgray;
    text-decoration-color: white;
}
.mitibanner{
    display: flex;
    justify-content: center;
}
.first_panel{
    background-color: darkcyan;
    display: flex;
    padding: 4%;
}
a{
    text-decoration: none;
    color: #fff;
}
.cont{
    margin: 2%;
}
.second_panel{
    display: flex;
    
    background-color: lightgray;
    color: darkblue;
}