body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(60, 142, 156);
    background-image: url('images/background.png');
    background-attachment: fixed; 
}
.flex-container{
    display:flex;
    flex-flow: column;
}

.header{
    display:flex;
    width:100vw;
    flex-flow: row;
    justify-content: center;
    position: fixed;
    top: 0;
}

.header-container{
    display: flex;
    width:75vw;
    flex-flow: row;
    justify-content: space-between;
    border-radius: 4px;
    background-color:rgba(24, 24, 24, 0.753);
    color: aliceblue;
    margin: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
}

.header-menu{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin : 5px;
}

.menu-buttons{
    position: relative;
    display: inline-block;
    margin: 10px;
    
}

.dropdown-btn{
    display:flex;
    align-items: center;
    color: white;
    background-color: rgba(173, 173, 173, 0.5);
    font-size: 0.9em;
    border-radius: 4px;
    cursor: pointer;
    padding: 10px;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    border-radius: 4px;
    border: 2px solid rgb(180, 180, 180);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
    z-index: 1;
    font-size: 0.9em;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #d4d4d4;
    border-radius: 4px;
}

.menu-buttons:hover .dropdown-content {
    display: block;
    background-color: rgb(240, 240, 240);
}

.menu-buttons:hover .dropdown-btn {
    background-color: rgb(148, 148, 148);
    border-radius: 4px;
    border: 2px solid rgb(255, 255, 255);
    padding: 8px;

}

a{
    text-decoration: none;
    text-decoration-color: none;
    color: inherit;
}

.logo{
    display: flex;
    align-self: center;
    padding: 5px;
    width: 15vw;
    height: 10vh;
}

.main{
    display: flex;
    flex-flow: row;
    justify-content: center;
    width: 100vw;
    padding-top: 115px;
}

.container{
    display: flex;
    width:75vw;
    flex-flow: column;
}

.main-title{
    background-color: rgba(24, 24, 24, 0.753);
    padding: 10px;
    color:aliceblue;
    border-radius: 4px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
    margin-bottom: 10px;
}

.main-title h1{
    font-size: 2vw;  
}

.main-content{
    display:flex;
    flex-flow: row;
}

.content{
    display:flex;
    flex-flow: column;
    background-color: rgb(243, 243, 243);
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
    width: 80%;
    margin-right:10px;
}

.img-docente{
    border-radius: 4px;
    height: 20vh;
    width: 7vw;
}

.title{
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
}

.title h3{
    font-size: 1vw;
}

.text{
    text-align: justify;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 1.5vmin;  
}

.list{

    text-align: justify;
    padding-left: 15px;
    padding-right: 15px;
}

.list ul{
    height: 125vh;
    display: flex;
    flex-flow: column wrap;
}

.list li{
    margin:5px;
    font-size: 1.5vmin;    
}

.section{
    border: 2px solid rgb(66, 66, 66);
    padding: 5px;
    margin: 5px;
    border-radius: 4px;
}

.submenu{
    width: 20%;
    display:flex;
    flex-flow: column nowrap;
}

.submenu-container{
    background-color: rgba(24, 24, 24, 0.753);
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 4px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.4);
}
.submenu-title{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    background-color: rgb(255, 99, 27);
    margin: 5px;
    border-radius: 4px;
    color:aliceblue;
    font-size: 0.9em;
}

.submenu-search-box{
    display:flex;
    background-color:none;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 4px;
    font-size: 0.9em;
    color: aliceblue;
}

.submenu-links-box{
    background-color:none;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 4px;
    font-size: 0.9em;
    color: aliceblue;
}

.submenu-links{
    display:flex;
    justify-content: center;
    padding-left: 5px;
    padding-right: 5px;
    border: 2px solid rgba(0, 0, 0, 0);
}

.submenu-links:hover{
    background-color:rgba(0, 61, 61, 0.918);
    border-radius: 4px;
    border: 2px solid rgb(255, 255, 255);
}

.footer{
    display:flex;
    width:100vw;
    flex-flow: row;
    justify-content: center;
    margin-top: 5px;
}
.footer-container{
    display: flex;
    width:75vw;
    flex-flow: row;
    justify-content: space-between;
    border-radius: 4px;
    background-color:rgba(24, 24, 24, 0.753);
    color: aliceblue;
    margin: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
    
}

.footer-column{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    border: 2px solid rgba(243, 243, 243, 0.582);
    border-radius: 4px;
    padding: 10px;
    font-size: 0.8em;
    flex-grow: 1;
    margin: 10px;
}

.search{
    padding: 5px;
    width: 80%;
    }

.button {
    display:flex;
    align-self: stretch;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
    width: 20%;
    border-radius: 2px;
    border: 2px solid aliceblue;
    margin-left: 5px;
    text-align: center;
    color: black;
}

.button:hover{
    background-color: rgb(255, 99, 27);
    color: aliceblue;
    padding: 2px solid white;
    
}