body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 146, 96);
}
.flex-container{
    display:flex;
    flex-flow: column;
}
/* lol */

.header{
    display:flex;
    width:100vw;
    flex-flow: row;
    justify-content: center;
    position: fixed;
    top: 0;
}

.header-container{
    display: flex;
    width:75vw;
    flex-flow: row;
    justify-content: space-between;
    border-radius: 4px;
    background-color:rgba(24, 24, 24, 0.753);
    color: aliceblue;
    height: 10vh;
    margin: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
}

.header-menu{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 5px;
    margin : 5px;

}

.menu-buttons{
    position: relative;
    display: inline-block;
    margin: 10px;
}

.dropdown-btn{
    display:flex;
    align-items: center;
    color: white;
    background-color: rgba(173, 173, 173, 0.5);
    font-size: 16px;
    
    border-radius: 4px;
    cursor: pointer;
    padding: 10px;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    border-radius: 4px;
    border: 2px solid rgb(180, 180, 180);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #d4d4d4;
    border-radius: 4px;
}

.menu-buttons:hover .dropdown-content {
    display: block;
    background-color: rgb(240, 240, 240);
}

.menu-buttons:hover .dropdown-btn {
    background-color: rgb(148, 148, 148);
    border-radius: 4px;
    border: 2px solid rgb(255, 255, 255);
    padding: 8px;

}

a{
    text-decoration: none;
    text-decoration-color: none;
    color: inherit;
}

.logo{
    display: flex;
    align-self: center;
    padding: 5px;
    width: 15vw;
    height: 10vh;
}

.main{
    display: flex;
    flex-flow: row;
    justify-content: center;
    width: 100vw;
    padding-top: 102px;
}

.container{
    display: flex;
    width:75vw;
    flex-flow: column;
}

.main-title{
    background-color: rgba(24, 24, 24, 0.753);
    padding: 10px;
    color:aliceblue;
    border-radius: 4px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
    margin-bottom: 10px;
}

.main-content{
    display:flex;
    flex-flow: row;
}

.content{
    display:flex;
    flex-flow: column;
    background-color: rgb(243, 243, 243);
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
    width: 80%;
    margin-right:10px;
}

.title{
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
}

.text{
    text-align: justify;
    padding-left: 15px;
    padding-right: 15px;
}

.section{
    border: 2px solid rgb(66, 66, 66);
    padding: 5px;
    margin: 5px;
    border-radius: 4px;
}

.submenu{
    width: 20%;
    background-color: rgb(243, 243, 243);
    padding: 5px;
    border-radius: 4px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.4);
}
.submenu-fcee{
    background-color:rgb(192, 192, 192);
    padding: 5px;
    margin: 5px;
    border-radius: 4px;
    border: 2px solid rgb(66, 66, 66);
    color:rgb(0, 0, 0);
}

.submenu-cde{
    background-color:rgb(192, 192, 192);
    padding: 5px;
    margin: 5px;
    border-radius: 4px;
    border: 2px solid rgb(66, 66, 66);
    color:rgb(0, 0, 0);
}
.submenu-links{
    background-color: rgb(243, 243, 243);
    margin: 5px;
    padding: 5px;
    border-radius: 4px;
}
.footer{
    display:flex;
    width:100vw;
    flex-flow: row;
    justify-content: center;
    margin-top: 5px;
}
.footer-container{
    display: flex;
    width:75vw;
    flex-flow: row;
    justify-content: space-between;
    border-radius: 4px;
    background-color:rgba(24, 24, 24, 0.753);
    color: aliceblue;
    margin: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
    
}

.footer-column{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    border: 2px solid rgba(243, 243, 243, 0.582);
    border-radius: 4px;
    padding: 10px;
    font-size: 0.8em;
    flex-grow: 1;
    margin: 10px;
}